body {
    margin: 0;
    position: relative;

}
img {
    position: absolute;

    position: absolute;
    width: 40%;
    margin-top: 120px;
    margin-left: 77px;
    margin-right: 100px;
    margin-bottom: 100px;


}

.top-heading {
    position: relative;


    height: 25px;

    top: 40px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.not-found {
    position: absolute;
    left: 77px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333333;
}


.image-container {
    position: relative;
}



.bad-news {
    position: absolute;
    width: 586px;
    height: 190px;
    left: 800px;
    top: 150px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 10px;

}

.page {
    position: absolute;
    width: 400px;
    height: 200px;
    left: 800px;
    top: 380px;
    color:#4f4f4f;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    margin-top: 0px;
    letter-spacing: -0.035em;
}

.footer {
    position: relative;
}

.footer-line {
    position: absolute;
    top: 660px;
    left: 620px;
}

.bad-news-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    color: #333333;
}
.button-container{
    position: relative;
}
.btn {
    position: absolute;
    background: #333333;
    background-image: -webkit-linear-gradient(top, #333333, #333333);
    background-image: -moz-linear-gradient(top, #333333, #333333);
    background-image: -ms-linear-gradient(top, #333333, #333333);
    background-image: -o-linear-gradient(top, #333333, #333333);
    background-image: linear-gradient(to bottom, #333333, #333333);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 9px 13px 10px 22px;
    text-decoration: none;
    top:540px;
    left:800px;
    margin-top:40px;

}

.btn:hover {
    background: #918e91;
    text-decoration: none;
}
